extends ../base-min/base-min
include ../../components/header/header
include ../../components/footer/footer
include ../../components/wrapper/wrapper
include ../../components/colors/colors
include ../../components/text-type/text-type


block content
  .wrapper__grey
    +header({mode: 'mini'})
    .headers-n-footers__header
    +header({authorised: false, menu: menuUikit})
    .headers-n-footers__free-space
    +header({authorised: true, menu: menuUikit})
    .headers-n-footers__free-space
    +footer({mode: 'default'})
    .headers-n-footers__free-space
    +footer({mode: 'mini'})
