.input {
  outline: none;
  width: 100%;

  &__title {
  }

  &__elem {
    font-size: 14px;
    line-height: 18px;
    padding: 13px 15px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    color: $dark-75;
    font-style: normal;

    &:hover {
      border: 1px solid $dark-50;
    }

    &:focus {
      border: 1px solid $dark-50;
    }

    &::placeholder {
      color: $dark-25;
    }
  }
}

.input__title,
.input__elem {
  display: block;
  margin: 5px 0px;
}
