mixin input(prop)

	if prop.type === 'text' || prop.type === 'password' || prop.type === 'email' || prop.type === 'textarea' || prop.type === 'select' || prop.type === 'file'
		.input
			if prop.title
				label.input__title() 
					h3 #{prop.title}
					input.input(class='input__elem ' placeholder=prop.placeholder type='text')
			else
				input.input(class='input__elem' type='text' )