.input {
  outline: none;
  width: 100%;
  position: relative;

  &__title {
  }

  &__elem {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 1.3rem 1.5rem;
    border: 1px solid $dark-25;
    border-radius: 4px;
    color: $dark-75;
    font-style: normal;

    &:hover {
      border: 1px solid $dark-50;
    }

    &:focus {
      border: 1px solid $dark-50;
    }

    &::placeholder {
      color: $dark-25;
    }
  }
}

.input__title,
.input__elem {
  display: block;
  margin: 0.5rem 0px;
}
