extends ../base/base
include ../../components/findroom-form/findroom-form

block content
  .landing
    .landing__wrapper
      .landing__content
        .landing__form
          +findroom-form()
        .landing__caption
          | Лучшие номера для вашей работы, отдыха и просто вдохновения
