@import 'src/style/variables.scss';
@mixin font-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: $dark-25;
}

.text-type {
  display: flex;
  align-items: baseline;
  margin-bottom: 5rem;
  &__title {
    flex-basis: 8%;
    text-align: right;
    margin-right: 3rem;
    &_H1 {
      @include font-title;
      font-size: 2.4rem;
      line-height: 29px;
    }
    &_H2 {
      @include font-title;
      font-size: 1.9rem;
      line-height: 23px;
    }
    &_H3 {
      @include font-title;
      font-size: 1.2rem;
      line-height: 15px;
    }
    &_Body {
      @include font-title;
      font-size: 1.4rem;
      line-height: 24px;
    }
  }
  &__body {
    text-align: left;
  }
}
