//-
  theme - тип (border, cover, text)
  text - текст кнопки ('string')
  color - цвет текста для type: 'thene' (grey, purple)
  isLink - (true, false)
  size - размер (small, medium, large)

  +button({
    theme: 'text',
    text: 'click me',
    color: 'purple',
    isLink: true
    size: 'medium'
    })

mixin button(prop = {theme, color, isLink, text})
  -
    const {theme='cover', color='', isLink=true, text='Button', size} = prop;

    let classes = '';
    classes += theme ? ' button_theme_' + theme : '';
    classes += color ? ' button_theme_text--' + color : '';
    classes += size ? ' button__size--' + size : '';

  - const tag = isLink ? 'a' : 'button';

  #{tag}.button(class=classes)= text
