@import 'src/style/variables.scss';

.button {
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  word-wrap: none;

  &:hover {
    opacity: 0.5;
  }

  &_theme {
    &_border {
      border: solid 2px transparent;
      border-radius: 22px;
      background-image: linear-gradient(white, white), $primary-gradient;
      background-origin: border-box;
      background-clip: padding-box, border-box;
      color: $purple;
    }

    &_cover {
      background: $primary-gradient;
      border-radius: 22px;
      color: white;
    }

    &_text {
      background: none;
      &--grey {
        color: $dark-50;
      }
      &--purple {
        color: $purple;
      }
    }
  }

  &__size {
    &--small {
      padding: 1rem 2rem;
    }
    &--medium {
      padding: 1.4rem 1.9rem;
    }
  }
}
