.button {
  border: none;
  color: #BC9CFF;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
  &__bordered {
    border: solid 2px transparent;
    border-radius: 22px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 13px 17px;
  }
  &__cover {
    padding: 15px 19px;
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   border-radius: 22px;
   color: white;
  }
  &__text {
    background: none;
  }
  &__text_grey {
    background: none;
    color: rgba(31, 32, 65, 0.5);
  }
}