@import '~src/style/colors.scss';

.button {
  border: none;
  background: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
  &__theme-border {
    border: solid 2px transparent;
    border-radius: 22px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: $purple;
    padding: 13px 17px;
  }
  &__theme-cover {
    padding: 15px 19px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: white;
  }
  &__theme-text {
    background: none;
    &_grey {
      color: $dark-50;
    }
    &_purple{
      color: $purple;
    }
  }
}