//-
  theme - тип (border, cover, text)
  text - текст кнопки ('string')
  color - цвет текста для type: 'text' (grey, purple)
  isLink - (true, false)
  size - размер (small, medium, large)
  arrow - стрелка (true, false)
  color - цвет стрелки ('white', '')

  +button({
    theme: 'text',
    text: 'click me',
    color: 'purple',
    isLink: true
    size: 'medium'
    })

mixin button(props = {theme, color, isLink, text, arrowColor})
  -
    const { theme='cover', color='', isLink=true, text='Button', size, arrow=false, arrowColor } = props;

    let classes = '';
    classes += theme ? ' button_theme_' + theme : '';
    classes += color ? ' button_theme_text--' + color : '';
    classes += size ? ' button_theme_' + theme + '--' + size : '';

    const tag = isLink ? 'a' : 'button';

  #{tag}.button(class=classes)= text
    if arrow === true
      +arrow({color: arrowColor})
