//-
  theme - тип (border, cover, text)
  text - текст кнопки ('string')
  color - цвет текста для type: 'thene' (grey, purple)
  isLink - (true, false)
  +button({
    theme: 'text', 
    text: 'click me', 
    color: 'purple',
    isLink: 'true'
    })

mixin button(options = {theme, color, isLink, text})
  - 
    const {theme='cover', color='', isLink='true', text='Button'} = options;

    let classes = '';
    classes += theme ? ' button__theme_' + theme : '';
    classes += color ? ' button__theme_text_' + color : '';

  - const tag = isLink ? 'a' : 'button';
  
  #{tag}.button(class=classes)= text