//-
  label - label кнопки ('string')

  +toggle-button({
    label: 'Получать спецпредложения'
  })


mixin toggle-button(props = {label})
  - const { label = 'Label', isChecked = false } = props;
  .toggle
    label.toggle__toggle-label(for=id) #{label}
      input.toggle__toggle-input(type='checkbox' checked=isChecked)
      span.toggle__toggle-button
