extends ../base-min/base-min
include ../../components/wrapper/wrapper
include ../../components/button/button
include ../../components/input/input.pug

block main
  .wrapper
    .content
      header.wrapper__header
        .container
          +header-min()
      section.main
        .container-inner
          .flex
            +button({
              theme: 'text', 
              text: 'click me', 
              color: 'purple',
              isLink: 'true'
              })