extends ../base-min/base-min
include ../../components/wrapper/wrapper

block main
  +wrapper__content()
    label.label
      h3 someshit
      input(type="text" placeholder="Email" class="input__type_text")
      input(type="password" placeholder="password" class="input__type_text")
      input(type="date", name="")