extends ../base-min/base-min
include ../../components/wrapper/wrapper
include ../../components/button/button
block main
  +wrapper__content()
    +button('click me', 'cover')
    +button('click me', 'bordered')
    +button('click me', 'text')
    +button('click me', 'text_grey')