extends ../base-min/base-min


block content
  -
    const bulletItems = [
      'Нельзя с питомцами',
      'Без вечеринок и мероприятий',
      'Время прибытия — после 13:00, а выезд до 12:00',
    ]

  +header({"mode": 'min'})
  .wrapper
    .wrapper__content
      .form-elems
        .form-elems__column
          .form-elems__input-text
            +input({type: 'text', title: 'text field', placeholder: 'Email'})
            +input({type: 'text', title: 'text field', placeholder: 'This is pretty awesome'})
            +input({type: 'dropdown', title: 'Dropdown', placeholder: 'Сколько гостей'})
            +input({type: 'text', title: 'Masked text field', placeholder: 'ДД.ММ.ГГ', mask: '00.00.0000'})
          .form-elems__buttons

              +button({
                theme: 'cover',
                text: 'click me',
                isLink: false,
                size: 'medium'
                })

              +button({
                theme: 'cover',
                text: 'click me',
                isLink: false,
                size: 'medium'
                })

              +button({
                theme: 'border',
                text: 'click me',
                isLink: false,
                size: 'medium'
                })

              +button({
                theme: 'border',
                text: 'click me',
                isLink: false,
                size: 'medium'
                })

              +button({
                theme: 'text',
                text: 'click me',
                color: 'purple',
                isLink: true
                })

              +button({
                theme: 'text',
                text: 'click me',
                color: 'grey',
                isLink: true
                })

          .form-elems__bullets
            +bullet-list({items: bulletItems})
          .form-elems__radio-group
            +input({type: 'radio', id: 'women', name: 'gender', label: 'Мужчина', isChecked: true})
            +input({type: 'radio', id: 'men', name: 'gender', label: 'Женщина'})
          .form-elems__toggle-group
            +input({type: 'toggle', label: 'Подписаться на новости'})
            +input({type: 'toggle', label: 'Подписаться на новости', isChecked: true})
          .form-elems__likes
            +like()
