extends ../base-min/base-min
include ../../components/wrapper/wrapper
include ../../components/button/button
include ../../components/input/input.pug

block main
  .wrapper
    .content
      header.wrapper__header
        .container
          +header-min()
      section.main
        .container-inner
          .flex.column.align-start
            +button({
              theme: 'cover', 
              text: 'click me', 
              })
            +button({
              theme: 'border', 
              text: 'click me', 
              })
            +button({
              theme: 'text', 
              text: 'click me', 
              color: 'grey',
              isLink: false
              })
            +button({
              theme: 'text', 
              text: 'click me', 
              color: 'purple',
              isLink: false
              })
            +input({type: 'text', title: 'text form', placeholder: 'Email'})
            +input({type: 'text', title: 'text form', placeholder: 'Email'})