mixin brands()
  .brands
    a.brands__elem.brands__elem--tw(href="http://twitter.com" target="_blank")
    a.brands__elem.brands__elem--fb(href="http://facebook.com" target="_blank")
    a.brands__elem.brands__elem--inst(href="http://instagram.com" target="_blank")
