.registration {
  min-height: 70.2rem;
  background-image: url('../../images/sign.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    max-width: 1160px;
  }
}
