.comment {
  display: grid;
  grid-template-columns: max-content minmax(min-content, 65rem);
  grid-gap: 1rem;

  &__photo {
    width: 4.8rem;
    height: 4.8rem;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba($dark-100, 0.1);
    border-radius: 32px;
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
  }

  &__date {
    color: $dark-75;
    font-size: 14px;
    line-height: 24px;
  }

  &__like {
    justify-self: center;
  }

  &__text {
    color: $dark-75;
  }
}
