mixin radio-button(props = {})
  - const {id='id', name='name', label='radio'} = props;
  .radio__radio-group
    input.radio__radio-input(type='radio' name=name id=id)
    label.radio__radio-label(for=id) #{label}
      span.radio__radio-button

