//-
  title - текст заголовка цвета ('string')
  hex - hex-код цвета ('string')
  style - цвет подложки ('string')
  isShadowed - (true, false)

  +color({
    title: 'Dark Shade 100%',
    hex: '#1F2041',
    style: 'dark-100',
    isShadowed: true
    })


mixin color(prop = {title, hex, style, isShadowed})
  -
    const {title='title', hex='#hex', style='dark-100', isShadowed=false} = prop;

    let classes = '';
    classes += style ? ' color__box_' + style : '';
    classes += isShadowed ? ' color__box_shadowed' : '';

  .color
    .color__box(class=classes)
    .color__label
      .color__text.color__text_title=title
      .color__text=hex
