@import '~src/style/colors.scss';

.color {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  &__box {
    border-radius: 6px;
    height: 70px;
    width: 70px;
    &_dark-100 {
      background: $dark-100;
    }
    &_dark-75 {
      background: $dark-75;
    }
    &_dark-50 {
      background: $dark-50;
    }
    &_dark-25 {
      background: $dark-25;
    }
    &_dark-5 {
      background: $dark-5;
    }
    &_purple {
      background: $purple;
    }
    &_green {
      background: $green;
    }
    &_shadowed {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    justify-content: center;

  }
  &__text {
    font-family: Quicksand;
    font-style: normal;
    font-size: 1.9rem;
    line-height: 29px;
    color: $dark-100;
    font-weight: normal;
    &_title {
      font-weight: bold;
    }
  }
}