.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__space-b {
    flex: 1 0 auto;
    justify-content: space-between;
  }
  &__color {
    margin-top: 20px;
  }
}
