.wrapper {
  display: flex;
  justify-content: center;

  &__content {
    flex: 0 1 114rem;
    display: flex;
  }

  &__flex {
    display: flex;
    flex: 1 1 auto;
  }

  &__grey {
    background-color: #f4f4f6;
  }
}
