.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-inner {
  max-width: 1160px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.colors {
  padding-top: 3rem;
  padding-left: 1rem;
}
.text-types {
  padding-top: 3rem;
  margin-right: 4rem;
}

.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-start {
  align-items: start;
}
