mixin wrapper()
  .wrapper
    block

mixin wrapper__header()
  header.wrapper__header
    block

mixin wrapper__main()
  main.wrapper__main
    block

mixin wrapper__container()
  .wrapper__container
    block

mixin wrapper__content()
  .wrapper__content
    block

mixin wrapper__row()
  .wrapper__row
    block

mixin wrapper__column()
  .wrapper__column
    block