extends ../base-min/base-min
include ../../components/wrapper/wrapper


block main
  +wrapper__content()
    .wrapper__row
      .wrapper__column
        h1 Lorem, i
        h1 safasfasfsafsafasfsa
      .wrapper__column
        h1 safsafasfa
        h1 sgfdsaghsdalfghsd