extends ../base-min/base-min
include ../../components/wrapper/wrapper
include ../../components/colors/colors
include ../../components/text-type/text-type

block main
  +wrapper__content()
    .wrapper__row(class="wrapper__space-b")
      +wrapper__column
        .wrapper__color
          +color('Dark Shade 100%', '#1F2041')(class="color__box_dark-100 color__box_shadowed")
          +color('Dark Shade 75%', '#1F2041')(class="color__box_dark-75")
          +color('Dark Shade 50%', '#1F2041')(class="color__box_dark-50")
          +color('Dark Shade 25%', '#1F2041')(class="color__box_dark-25")
          +color('Dark Shade 5%', '#1F2041')(class="color__box_dark-5")
          +color('Purple', '#BC9CFF')(class="color__box_purple")
          +color('Green', '#6FCF97')(class="color__box_green")
      +wrapper__column
        +text-type('H1', '<h1>This one is the sub-section or widget title</h1>')
        +text-type('H2', '<h2>Next one is the item title inside widgets</h2>')
        +text-type('H3', '<h3>This is a label or CTA text</h3>')
        +text-type('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')