.colors-n-types {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin-top: 3.7rem;
  flex-flow: row wrap;
}

.colors {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.text-types {
  display: flex;
  flex-direction: column;
  flex: 0 1 40rem;
  margin-right: 4.5rem;
}
