.header {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  align-items: center;
  &__logo {
    margin: 1.5rem 0;
    // remove gaps of img inside div
    line-height: 0;
  }
  &__menu {
    list-style-type: none;
    display: flex;
    align-items: baseline;
  }
}
.menu {
  &__item {
    float: left;
    // display: block;
    color: white;
    text-align: center;
    // padding: 0 14px;
    margin-left: 3rem;
    text-decoration: none;
  }
  &__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }
}
.auth {
  display: flex;
  align-items: baseline;
}
.user {
  margin-left: 3rem;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  padding-left: 3rem;
}
