.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__container {
    flex: 0 1 116rem;
    display: flex;
    align-items: center;
  }

  &__logo-box {
    margin: 1.5rem 0;
    line-height: 0; // remove gaps of img inside div
  }
  &__menu {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &__buttons {
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__line {
    border-left: 1px solid $dark-25;
    height: 3rem;
    margin-right: 3rem;
  }
}

.menu {
  &__item {
    float: left;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    text-decoration: none;
    position: relative;
  }

  &__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: $dark-50;
    text-decoration: none;

    &_active {
      color: $dark-75;
      font-weight: bold;
    }
  }

  &__expandable-marker {
    font-family: 'Material Icons';
    font-size: 2.4rem;
    line-height: 2rem;
    display: inline-block;
    color: $dark-50;
    position: absolute;
    right: -23px;
  }
}
.auth {
  display: flex;
  align-items: center;
}

.header-min {
  display: flex;
  justify-content: center;

  &__container {
    flex: 0 1 144rem;
    display: flex;
  }

  &__logo-box {
    display: inline-block;
    padding: 3rem;
  }

  &__logo {
    display: block;
  }
}

.padding-20 {
  margin-top: 40px;
}
