//-
  authorised - Статус пользователя (true, false)
  mode - "тип" шапки сайта. ('min', 'full')
  menu - объект пунктов меню. {object: object}

  +header({
    authorised: true,
    menu: menuUikit
    })


include ../button/button
include ../logo/logo

mixin header(props = {authorised, mode, menu})
  -
    const { authorised = false, mode = 'default', menu = [] } = props;
    const full = ( mode === 'default' ) ? true : false;

  if full
    header.header
      .header__container
        .header__logo-box
          +logo()
        nav.header__menu
          ul.menu
            each link in menu
              li.menu__item
                if link.isActive
                  a(href=link.link class="menu__link menu__link_active")=link.title
                else
                  a(href=link.link class="menu__link")=link.title
                if link.expandable
                  span.menu__expandable-marker expand_more
          .auth
            if authorised
              .header__line
              .header__user
                | Cosmin Negoita
            else
              .header__buttons
                +button({
                  theme: 'border',
                  text: 'Login',
                  isLink: true,
                  size: 'small'
                  })
                +button({
                  theme: 'cover',
                  text: 'Register',
                  isLink: true,
                  size: 'small'
                  })
  else
    header.header-min
      .header-min__container
        .header-min__logo-box
          +logo({type: 'mini'})

