include ../button/button

mixin header()
  - links = ['Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation'];
  .header
    .header__logo
      img(src="../../components/header/img/logo-full.svg", alt="")
    nav.header__menu
      ul.menu
        each link in links
          li.menu__item
            a(href="#" class="menu__link")=link
        li.menu__item
          +button({
            theme: 'border', 
            text: 'Login', 
            isLink: true
            })
        li.menu__item
          +button({
            theme: 'cover', 
            text: 'Register', 
            isLink: true
            })