mixin datepicker(props = { type, placeholder })
  - const {type, placeholder = 'ДД.ММ.ГГГГ'} = props
  if (type === 'filter')
    input.input(class='datepicker__elem' type='text' placeholder=placeholder)
  else if (type === 'dropdown')
    .datepicker-list
      input.input(class='datepicker__start' type='text' placeholder=placeholder data-range="true" data-multiple-dates-separator=" - ")
      input.input(class='datepicker__end' type='text' placeholder=placeholder)

