extends ../base-min/base-min
include ../../components/header/header
include ../../components/footer/footer
include ../../components/wrapper/wrapper
include ../../components/colors/colors
include ../../components/text-type/text-type

block main
  .wrapper.bg-grey
    .content
      header.wrapper__header1
        .container
          +header-min()
      .ahrf 
      section.main
        header.wrapper__header()
          +header({authorised: false, menu: menuUikit})
        .saf  
        header.wrapper__header
          +header({authorised: true, menu: menuUikit})
        .saf  
        footer.wrapper__footer
          +footer({mode: 'default'})
        .saf  
        footer.wrapper__footer
          +footer({mode: 'mini'})