//-
  items - массив

  +bullet-list({
    items: ['a', 'b', 'c']
    })

mixin bullet-list(prop = {items})
  - const {items=[]} = prop;
  ul.bullet-list
    each item in items
      li.bullet-list__item #{item}
