.footer {
  background-color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 116rem;
    margin: 0 auto;
    box-shadow: 0 1px 0px rgba(31, 32, 65, 0.1);
    align-items: flex-start;
    padding: 10rem 0;
  }

  &__mini {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    max-width: 56rem;
  }

  &__logo {
    max-width: 26rem;
    color: $dark-75;

    &_text {
      padding-top: 1rem;
    }
  }

  &__sub {
    max-width: 26rem;

    &_text {
      margin: 2rem 0;
      color: $dark-75;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    height: 7rem;
    justify-content: space-between;
    max-width: 116rem;
    margin: 0 auto;

    &_item {
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: $dark-75;
    }
  }

  &__brand {
    padding-left: 2rem;
  }

  &__brands {
    margin-left: auto;
  }

  &__nav {
    display: inline-block;
    list-style: none;

    &_item {
      margin-top: 1.6rem;
    }

    &_link {
      font-size: 1.4rem;
      color: $dark-50;
      text-decoration: none;
    }
  }
}
