-
  const menuUikit = [
    {
      title: 'Home',
      link: '#',
      isActive: true,
    },
    {
      title: 'About',
      link: '#',
    },
    {
      title: 'Services',
      link: '#',
    },
    {
      title: 'Careers',
      link: '#',
    },
    {
      title: 'News',
      link: '#',
    },
    {
      title: 'Documentation',
      link: '#',
    },
  ];

  const menuList = [
    {
      title: 'О нас',
      link: '#',
      isActive: true,
    },
    {
      title: 'Услуги',
      link: '#',
    },
    {
      title: 'Вакансии',
      link: '#',
    },
    {
      title: 'Новости',
      link: '#',
    },
    {
      title: 'Соглашения',
      link: '#',
    },
  ];

  const footerUikitOne = {
    name: 'Navigation',
    links: [
      { title: 'About Us', link: '#' },
      { title: 'News', link: '#' },
      { title: 'Support', link: '#' },
      { title: 'Products', link: '#' },
    ],
  };

  const footerUikitTwo = {
    name: 'About Us',
    links: [
      { title: 'Who we are', link: '#' },
      { title: 'Our team', link: '#' },
      { title: 'Careers', link: '#' },
      { title: 'Investors', link: '#' },
    ],
  };

  const footerUikitThree = {
    name: 'Support',
    links: [
      { title: 'Documentation', link: '#' },
      { title: 'Community', link: '#' },
      { title: 'Get in Touch', link: '#' },
    ],
  };

  const footerOne = {
    name: 'навигация',
    links: [
      { title: 'О нас', link: '#' },
      { title: 'Новости', link: '#' },
      { title: 'Служба поддержки', link: '#' },
      { title: 'Услуги', link: '#' },
    ],
  };

  const footerTwo = {
    name: 'о нас',
    links: [
      { title: 'О сервисе', link: '#' },
      { title: 'Наша команда', link: '#' },
      { title: 'Вакансии', link: '#' },
      { title: 'Инвесторы', link: '#' },
    ],
  };

  const footerThree = {
    name: 'Служба поддержки',
    links: [
      { title: 'Соглашения', link: '#' },
      { title: 'Сообщества', link: '#' },
      { title: 'Связь с нами', link: '#' },
    ],
  };

  const bulletList = [
    'Нельзя с питомцами',
    'Без вечеринок и мероприятий',
    'Время прибытия — после 13:00, а выезд до 12:00',
  ];
