-
  const menuUikit = [
    {
      title: 'Home',
      link: '#',
      isActive: true
    },
    {
      title: 'About ',
      link: '#'
    },
    {
      title: 'Services',
      link: '#'
    },
    {
      title: 'Careers',
      link: '#'
    },
    {
      title: 'News',
      link: '#'
    },
    {
      title: 'Documentation',
      link: '#'
    }
  ];

  const footerUikitOne = {
  name: 'Navigation',
  links: [
    { title: 'About Us', link: '#' },
    { title: 'News ', link: '#' },
    { title: 'Support', link: '#' },
    { title: 'Products', link: '#' }
  ]
  };

  const footerUikitTwo = {
    name: 'About Us',
    links: [
      { title: 'Who we are', link: '#' },
      { title: 'Our team ', link: '#' },
      { title: 'Careers', link: '#' },
      { title: 'Investors', link: '#' }
    ]
  };
  const footerUikitThree = {
    name: 'Support',
    links: [
      { title: 'Documentation', link: '#' },
      { title: 'Community', link: '#' },
      { title: 'Get in Touch', link: '#' }
    ]
  };
