include ../../components/header/header
include ../../components/footer/footer
include ../../components/wrapper/wrapper
include ../../components/colors/colors
include ../../components/button/button
include ../../components/text-type/text-type
include ../../components/input/input
include ../../components/bullet-list/bullet-list
include ../../components/like/like
include ../../components/arrow/arrow
include ../../components/login-form/login-form
include ../../components/signup-form/signup-form
include ../../components/checkbox/checkbox
include ../../components/comment/comment

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Some funny title
  body
    block content
