include ../../components/header-min/header-min
include ../../components/wrapper/wrapper

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Some funny title
  body
    .wrapper
      block header
        +wrapper__header()
          +wrapper__container()
            +header-min()
      +wrapper__main()
        block main

    script(src="../../entry.js")
    