extends ../base-min/base-min
include ../../components/findroom-form/findroom-form

block content
  .wrapper__grey
    +header({mode: 'mini'})
    .wrapper
      .wrapper__content
        +login-form()
        +signup-form()
        +findroom-form()
